<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>FRONT</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/css/front.css" />
    </header>
    <body>
        <div class="wrap">
            <div class="box">
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control">
                    <input class="input" id="inputName" type="text" placeholder="genius11">
                  </div>
                </div>
              
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input class="input" id="inputPass" type="password" placeholder="********">
                  </div>
                </div>

                <div class="field is-hidden" id="confirm">
                    <label class="label">Confirm</label>
                    <div class="control">
                      <input class="input" id="inputConfirm" type="password" placeholder="********">
                    </div>
                </div>

                <div class="Buttons" id="Buttons">
                    <div class="submitBtns" id="submitBtns">
                        <button class="button is-primary" id="signinSubmit" onclick="signinSubmitHandler()">로그인</button>
                        <button class="button is-info is-hidden" id="signupSubmit" onclick="signupSubmitHandler()">회원가입</button>
                    </div>
                    <div class="toggleBtns" id="toggleBtns">
                        <button class="button is-info" id="signupToggle" onclick="signupToggleHandler()">회원가입</button>
                        <button class="button is-light is-hidden" id="signinToggle" onclick="signinToggleHandler()">돌아가기</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/js/front.js"></script>
    </body>
</html>