<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
            rel="stylesheet"
        />
        <title>GREAT-GREAT!!</title>
        <link rel="stylesheet" href="/css/main.css" />

    </head>
    <body>
        <div class="container">
            <div class="logo">
                <span>효과는 굉장했다 !</span>
            </div>
            <div class="windows">
                <div class="commendWindow">
                    <section class="userInfo" id="userInfo">
                        <span>홍길동 / Lv.001</span>
                    </section>
                    <section class="commendLine" id="commendLine"><span>야압! 기합을 실은 당신의 정권지르기가 고슴도치에게격중되었다 ! <span style="color: green">=> 6</span>
                    고슴도치가 필사적으로 가시를 곤두세운다 ! <span style="color: red">이잉.. 아프네.. -8</span>

                당신은 고슴도치를 철검으로 강력하게 공격했다. <span style="color: green">=> 10</span>
            아앗.. 고슴도치의 가시가 당신의 온 팔에 박혔다 ! <span style="color: red">아야야~ -9</span>

            당신은 고슴도치를 철검으로 강력하게 공격했다. <span style="color: green">=> 9</span>
            고슴도치가 필사적으로 가시를 곤두세운다 ! <span style="color: red">이잉.. 아프네.. -8</span>

            당신은 고슴도치를 철검으로 있는 힘을 다해 후려쳤다 ! <span style="color: green">=> 9</span>
            고슴도치가 사납게 덤볐지만 당신은 날렵하게 피해버렸다. 

            휘익~ 가벼운 점프 ↑ -- 이어지는 당신의 우아한 이단 돌려차기 ! <span style="color: green">=> 6</span>
            고슴도치가 필사적으로 가시를 곤두세운다 ! <span style="color: red">이잉.. 아프네.. -8</span>

            당신은 날렵하게 전진하여 철검으로 고슴도치를 찔렀다. <span style="color: green">=> 9</span>
            고슴도치가 중심을 잃고 쓰러진다.
            129 만큼의 기를 흡수합니다.
        </span>
                    </section>
                    <form class="commendInput">
                        <input
                        id="commendInput"
                            type="text"
                            placeholder="커맨드를 입력해주세요."
                        /><button>전송</button>
                    </form>
                </div>

                <div class="chatingWindow">
                    <section class="chatingList" id="chatBox">
                        <span style="color: green;">홍길동 : 와 님들 아직도 안자고 게임해요 ?</span>
                        <span>최원선 : 잠이 뭐죠 ?</span>
                        <span>김정현 : 아 원선님 1등 양보좀 해줘요</span>
                    </section>
                    <section class="chatingInput">
                        <input type="text" id="chatSubmit" placeholder="채팅를 입력해주세요." />
                        <button type="button" onclick="chatSubmitdHandler()">전송</button>
                    </section>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
