* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: rgba(0, 130, 132);
}

body > .container {
    width: 1280px;
    height: 720px;
    background-color: black;
    border: 5px solid gray;
    border-radius: 20px;

    margin: 0 auto;
    margin-top: 100px;
}

body > .container > .logo {
    background-color: rgb(0, 88, 230);

    height: 50px;
    border-radius: 15px 15px 0 0;
}

body > .container > .logo > span {
    font-size: 30px;
    margin-left: 30px;

    color: white;
}

body > .container > .windows {
    width: 1280px;
    height: 650px;

    margin-top: 8px;

    /* overflow: hidden; */
    /* background-color: aliceblue; */
}

body > .container > .windows > .commendWindow {
    border: 2px solid gray;
    border-radius: 5px;

    margin-left: 25px;

    width: 800px;
    height: 650px;

    /* overflow: hidden; */
    float: left;
}

body > .container > .windows > .commendWindow > .userInfo {
    border-bottom: 2px solid gray;

    height: 100px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

body > .container > .windows > .commendWindow > .userInfo > .infoName {
    flex: 3;
}

body > .container > .windows > .commendWindow > .userInfo > .infoName > span {
    color: rgb(192, 192, 192);
    font-size: 50px;
    margin-left: 50px;

    margin-bottom: 10px;
}

body > .container > .windows > .commendWindow > .userInfo > .infoName > .exp {
    font-size: 25px;
    margin-left: 10px;
}

body > .container > .windows > .commendWindow > .userInfo > .infoSub {
    flex: 1;

    color:rgb(192, 192, 192);
    margin-right: 20px;
    /* margin-bottom: -10px; */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

body > .container > .windows > .commendWindow > .userInfo > .infoSub > .infoStatus {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

body > .container > .windows > .commendWindow > .commendLine {
    margin-top: 10px;

    height: 450px;

    overflow: auto;

    color: rgb(192, 192, 192);
    font-size: 20px;
    margin-left: 25px;
    white-space: pre-line;
}

body > .container > .windows > .commendWindow > .commendLine::-webkit-scrollbar {
    display: none;
}

/* .commendLine > span {
    color: rgb(192, 192, 192);
    font-size: 20px;
    margin-left: 25px;
    white-space: pre-line;
} */

body > .container > .windows > .commendWindow > .commendInput {
    border-top: 2px solid gray;

    margin-top: 6px;

    height: 80px;
}

body > .container > .windows > .commendWindow > .commendInput > input {
    border: none;
    background: transparent;

    font-size: 20px;
    color: rgb(192, 192, 192);

    width: 75%;
    height: 70%;

    margin-top: 10px;
    margin-left: 25px;
}

body > .container > .windows > .commendWindow > .commendInput > button {
    border: none;
    background: transparent;

    font-size: 20px;
    color: rgb(192, 192, 192);

    margin-left: 25px;
}

body > .container > .windows > .commendWindow > .commendInput > button:hover {
    font-weight: bold;
}

body > .container > .windows > .chatingWindow {
    border: 2px solid gray;
    border-radius: 5px;

    margin-right: 25px;

    width: 400px;
    height: 650px;

    /* overflow: hidden; */
    float: right;
}

body > .container > .windows > .chatingWindow > .chatingList {
    height: 560px;

    overflow: auto;

    color: rgb(192, 192, 192);
    font-size: 20px;
    margin-left: 25px;
    white-space: pre-line;
}

body > .container > .windows > .chatingWindow > .chatingList::-webkit-scrollbar {
    display: none;
}

body > .container > .windows > .chatingWindow > .chatingInput {
    border-top: 2px solid gray;

    margin-top: 8px;

    height: 80px;
}

body > .container > .windows > .chatingWindow > .chatingInput > input {
    border: none;
    background: transparent;

    font-size: 20px;
    color: rgb(192, 192, 192);

    width: 65%;
    height: 70%;

    margin-top: 10px;
    margin-left: 25px;
}

body > .container > .windows > .chatingWindow > .chatingInput > button {
    border: none;
    background: transparent;

    font-size: 20px;
    color: rgb(192, 192, 192);

    margin-left: 25px;
}

body > .container > .windows > .chatingWindow > .chatingInput > button:hover {
    font-weight: bold;
}
